AUTH0_CLIENT_ID=your_auth0_client_id
AUTH0_CLIENT_SECRET=your_auth0_client_secret
AUTH0_DOMAIN=your_auth0_domain
APP_SECRET_KEY=your-super-secret-key-change-in-production
API_AUDIENCE=your_api_audience

ENV=development
DATABASE_URI=postgresql://postgres:postgres@db:5432/sharinmod
API_USERNAME=your_api_username
API_PASSWORD=your_api_password
REDIS_DATABASE=redis://redis:6379/0
